<div class="col-xs-12" ng-cloak layout="column">
  <div ng-show="vm.profile">
    <form name="userForm">
        <md-content  layout="row">
        <md-input-container  class="md-block">
            <label>First Name</label>
            <input ng-model="vm.profile.first_name" placeholder="ex. Darth"/>
            </md-input-container>
        <md-input-container  class="md-block">
            <label>Last Name</label>
            <input ng-model="vm.profile.last_name" placeholder="ex. Vader"/>
            </md-input-container>
            </md-content >

      <md-content layout-padding>
        <md-input-container type="email" class="md-block">
            <label>Email</label>
            <input type="email" ng-model="vm.profile.email" placeholder="ex. john@gatech.edu"/>
            </md-input-container>
        <md-input-container type="email" class="md-block" ng-hide="vm.is_boss">
            <label>PI Email</label>
            <input type="email" ng-model="vm.profile.boss_email" placeholder="ex. boss@gatech.edu"/>
            </md-input-container>
        <md-input-container type="password" class="md-block">
            <label>Password</label>
            <input type="password" ng-model="vm.profile.password" placeholder="ex. secretpwd"/>
            </md-input-container>
        <md-input-container type="password" class="md-block">
            <label>Confirm Password</label>
            <input type="password" ng-model="vm.profile.confirm_password" placeholder="ex. secretpwd"/>
            </md-input-container>
      <div layout="row" layout-align="center center" >
        <md-button  class="md-primary  md-raised" ng-click="vm.update()">Submit</md-button>
        <md-button class="md-warn  md-raised" ng-click="vm.destroy()">Delete</md-button>
      </div>
      </md-content>
    </form>
  </div>
</div>
